streamlit==1.32.2

torch==2.2.2
torchvision==0.17.2

transformers==4.43.1
peft>=0.13.0
sentence-transformers==2.7.0
faiss-cpu==1.13.2

pandas
numpy
nltk
rouge-score
sentencepiece
evaluate==0.4.1
streamlit==1.32.2

torch==2.2.2
torchvision==0.17.2

transformers==4.43.1
peft>=0.13.0
sentence-transformers==2.7.0
faiss-cpu==1.13.2

pandas
numpy
nltk
rouge-score
sentencepiece
evaluate==0.4.1
bert-score==0.3.13
